<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="markdown-body" style="padding-left: 5px">
      <h1>Reviewington</h1>
      {% for filename, subfiles in files.items() recursive %} {% if subfiles %}
      <div class="wrap-collabsible" style="float: left; clear: left">
        <input id="collapsible_{{filename}}" class="toggle" type="checkbox" />
        <label
          for="collapsible_{{filename}}"
          class="lbl-toggle"
          style="float: left; clear: left"
          >{{filename}}</label
        >
        <div
          class="collapsible-content"
          style="padding: 0px 0px 0px 10px; float: left; clear: left"
        >
          {{ loop(subfiles.items()) }}
        </div>
      </div>
      {% else %}
      <a
        style="float: left; clear: left; padding: 1px"
        href="/reviews?filename={{filename}}"
        >{{filename}}</a
      >
      {% endif %} {% endfor %}
    </div>
  </body>
</html>
